.con{
    height: 60%;
    width: 100% ;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center; 
    width: 400px;
    height: 90%;
    padding: 20px;
    background-image: linear-gradient(45deg,rgba(9, 9, 89, 0.56),rgba(81, 81, 86, 0.451));
    border-radius: 10px;
    box-shadow: rgba(9, 32, 235, 0.573) 0px 2px 8px, rgba(24, 19, 180, 0.3) 0px 7px 13px -3px, rgba(35, 35, 255, 0.425) 0px -3px 0px inset;
}
form p {
    margin-bottom: 15px;
    font-size: 30px;
}
button {
    margin-top: 20px;
    width: 70%;
    padding: 12px;
    background-image: linear-gradient(rgba(77, 77, 252, 0.863),rgb(11, 11, 255));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00214fb8;
}
input, textarea {
    width: 80%;
    padding: 10px;
    margin: 8px 0 15px;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    border-color: blue;
    outline: none;
}

input[type="hidden"] {
    margin-top: 20px;
    display: none;
}